// Global Settings
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  height: 100%;
  font-size: 1.6rem;
  background: $lightwhite;
  color: $soulblack;
}